:root{
    --blue:#25A59E;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
body{
    margin-top: 90px;
}
    
.p-1{
    height: 25px;
    margin-top: 20px;
    left: 100px; 
    margin-right: 40px;
}
.head{
    font: gilda display;
    initial-letter: 10%;
    padding-top:2px ;
    line-height: 32.96px;
    color: #25A59E;
    font-weight: 500px;
    font-size: 30px;
    justify-content: right;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}
.flex{
    display: flex;
    font-size: 250%;
    justify-content: center;
    padding-inline:5px;
    font: gilda dislay;
    text-align: center;
    margin-bottom: 2px;
    
}
h1{
    padding-bottom: -20px;
}
.Travel{
    
    color: #25A59E;
    justify-content: space-between;

}
.asians {
    height: 300px;
    margin-bottom: 65%;

}
.travel1{
    position: absolute;
    justify-content: center;
    font-weight: 50px;
    size: 400%;
    margin-bottom: 50px;
    height: 650px;
    width: 100%;
}
.travel2{
    position: absolute;
    margin-top: 197px;
    size: 200%;
    justify-content:center;
    width: 100%;
    height: 452px;

}
.travel3{
    position: absolute;
    size: 100%; 
    margin-top: 24px;
    margin-left: 150px;     
    height: 110%;
}
.destination{
    margin-top: -400px;
} 

h3{
    font: gilda display;
    font-size: 62px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom:20px;

}
.choose{
    font: urbanist;
    font-size: 25px;                              
    text-align: center;
    color: neutral 900;
    margin-bottom: 40px;
    
}
.container{
    display: flex; 
    width: 100%;
    background-color: rgb(236, 232, 232);
    justify-content: center;

}
.item{
    background-color: white;
    margin-inline: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;


}

.Location{
    display: flex;
    justify-content: baseline;
    height: 25px;
    margin-top: 5px;
}
.locationside{
    margin-left: 20px;
    margin-top: 5px;                                                  
}  

.img2{
    size: 40px;
    height: 220px;
}

.about{
    font: (gilda display);
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item1,.item3{
    background-color: white;
    margin-inline: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px ;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 70px;
    justify-content: space-around;
    border-top: 2px solid #25A59E;
    height: 240px;
    background-size: 40px;
    width: 100%;

}
.item2{
    
    background-color:#25A59E;
    margin-inline: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px ;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 70px;
    justify-content: space-around;
    height: 240px;
    background-size: 40px;
    width: 100%;

}
.support{
    font-size: 35px;
    font: gilda display;                                                               
}
.more{
    color:#25A59E;
    margin-left: 180px;
    font-size: 20px;
    display: flex;
}
.special{ 
    font-size: 35px;
    font: gilda display;
    color: white;
}
.details{
    color: white;
    margin-left: 200px;
    display: flex;
    font-size: 20px;

}
.tickets{
    font: urbanist;
    color: white;
}
.memory{
    font: gilda display;                             
    font-size: 40px; 
    margin-bottom: 10px;
    font-weight: 100px;
    justify-content:space-around;
    margin-top: 150px;
    margin-right: 5px;
}
.service{
    font: urbanist;
    font-size: 13px;
    color: neutral;
    padding-top: 10px;
    

}

.twoasians{
    size: 70px;
    justify-content: end;
    margin-left: 250px ;          
}
.image2{
    position: absolute;
    margin-top: 190px;
    margin-right: 170px;
}    
.image1{                                                                                          
    position: relative;
    margin-left: 10px;
    height: 430px;
    margin-bottom: 40px;

}
.last{
    width: 100%;                                                                                           
    display: flex ;
    margin-bottom: 20px;
    padding-bottom: 2px;
    margin-left: 15px;
}








