
.burger{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    
.p-1{
    height: 25px;
    top: 10px;
    left: 120px; 
    width: 100%;
    font-weight: 40px;
}
.header{
    font: gilda display;
    initial-letter: 10%;
    size: 30px;
    line-height: 32.96px;
    color: aquamarine;
    font-weight: 500px;
    font-size: larger;
    justify-content: right;
    display: flex;
}